// *{outline: 1px solid rgba(0,0,0,.2);}
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* ==========================================================================
   Font Imports
   ========================================================================== */

   @import 'fonts.scss';
   @import 'variable.scss';

  // *{outline: 1px solid rgba(0,0,0,.25);}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: #946B4D;
}
body{
	background: #fff;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}




[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}




/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a{
    text-decoration: none; 
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Typography*/

html{
    font: 300 100%/1.5 $amble;
}

h1, h2{font: normal 30px/36px $libre; color: $green;}
h3{
font-family: $libre;
font-size: 20px;
color: #A1B566;
line-height: 22px;
font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0;
}
h4{
font-family: $libre;
font-size: 18px;
color: #A1B566;
line-height: 22px;
font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0;
}

p{
    font: 300 16px/24px $amble; color: $gray;
}
p a{
	text-decoration: underline; color: $gray;
	&:hover{
		color: $green;
	}
}

/*Link*/
.menu-button{
	display: none;
	float: right;
	button{
		margin: 18px 0 0;
	    &:before{
		    width: 93.5%;
	    }
	}
	
}
button,.btn.green{
    font: 12px/14px $libre;
    background: #A1B566;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: auto;
    position: relative;
    padding:14px 19px;
    border: none;
    &:before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 97%;
        height: 86%;
        border: 1px solid #fff;
    }

    &:hover{
        background: #82492E;
    }
}


.container{
    box-sizing: border-box;
    max-width:1024px;
    width: auto; 
    padding: 0 20px;
    margin: 0 auto;
}

header{
    border-top: 10px solid $green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    .logo{
        float: left;
        display: block;
        margin-top: 15px;
        img{opacity: .6;}
    }

    nav{
        float: right;
        ul{
            display: block;
            font-size: 0;
            li{
                display: inline-block;
                font: 400 16px/18px $libre;
                text-transform: lowercase;
                a{
                    text-decoration:none;
                    color: $gray;
                    padding: 30px 30px;
                    display: block;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
}


//Sections

#home-banner{
    height: 660px;
    width: 100%; 
    position: relative;
    display: block;
    overflow: hidden;

    .box{
        float: left; 
        background: $green;
        position: relative;
    }
}

.container-small{
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.white-text{
   h2, p{ color: #fff;}
}

section{
    margin: 40px 0;
    display: block;
}

#about-us{
    text-align: center;
    h2{
        color: $green;
    }
    p{
        color: $gray;
    }

}

#our-history{
    text-align: center;
    background: url('../img/house-front-red.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    box-shadow: inset 0 4px 7px 0 rgba(0,0,0,.2);
}

.gallery{
    text-align: center;
    .grid{
	    margin-bottom: 40px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:after {
        content: '';
        display: block;
        clear: both;
        }

        .grid-item{
            width: 50%;
            height: 225px;
            overflow: hidden;
            position: relative;
            float: left;
            height: 0;
            padding-bottom: 50%;
            outline: 1px solid red;
        }
        .grid-item-width2{
            width: 25%;
        }
        .grid-item-height2{
            height: 0;
            padding-bottom: 25%;
        }
    }
}
// Pricing

.pricing{
    background: $darkergreen;
    color: #fff;
    padding: 27px 0;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.18);
    h2{
        small{
            display: block;
            font-size: 18px;
            font-style: italic;
        }
    }
    #tabs{
           max-width: 698px;
           margin: 0 auto;
        ul{
            border-bottom: 1px solid #9EB17E;
         
            li{
                margin: 0 5px;
                padding: 10px 20px;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                a{
                    color: #fff;
                    font: normal 16px/16px $libre; 
                }
                &.r-tabs-state-active{
                    border-top: 1px solid #9EB17E;
                    border-right: 1px solid #9EB17E;
                    border-left: 1px solid #9EB17E;
                }
            }
        }
    }
}

.contact-us{
	
	#map{margin: 25px 0;}
	.header-text{
		text-align: center; margin: 0 auto; max-width: 667px; padding: 0 20px; width: auto;
	}
	.form-wrapper.container{
		border-top: 1px solid rgba(0,0,0,0.16); margin: 30px auto; padding: 30px 20px 0; 
		
		form{
			max-width: 620px; width: 66.40625%; display: inline-block;vertical-align: top; font-size: 0; 
			input, textarea{font-size: 14px;}
			.input-wrap{width: 49%; display: inline-block; margin-bottom: 10px;}
			label{ font-family: $amble; font-weight: bold; font-size: 14px; color: #B5B5B5; text-transform: uppercase; line-height: 17px;}
			input{box-sizing: border-box;  width: 100%; padding: 8px; background: #FFFFFF; border: 1px solid rgba(0,0,0,0.08); box-shadow: 0px 3px 0px 0px rgba(160,181,102,0.23); }
			.input-wrap:nth-child(even){margin-left: 2%;}
			.text-wrap{width: 99.5%;margin-bottom: 10px;}
			textarea{width: 100%;background: #FFFFFF; border: 1px solid rgba(0,0,0,0.08); box-shadow: 0px 3px 0px 0px rgba(160,181,102,0.23); resize: none; height: 97px;
			}
			button{width: 100px; -webkit-appearance: none;
				&:before{
					width: 93.5%;
				}
			}
			
		}
		.contact-info{display: inline-block; vertical-align: top; width: 24.4140625%; margin-left: 5.9%;}
	}
	
}

//Page Header

.page-header{
	width: auto; padding: 0 20px; margin-bottom: 34px;
	img{
		display: block; margin: 0 auto; width: 100%; height: auto; max-width: 1010px;
	}
}

article{
	max-width: 620px; width: 60.546875%; display: inline-block; vertical-align: top;
}
aside{
	max-width: 300px; width: 29.296875%; display: inline-block; vertical-align: top; position: relative;margin-left: 1.953125%;
	.promo{
		background: $darkergreen; box-sizing: border-box; padding: 35px 23px; color: #fff; 
		h3{color: #fff;
			small{text-transform: uppercase; font-size: 13px; display: block;}
			
		}
		p{
			font-size: 14px;
			line-height: 20px;
			color: #fff;
		}
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 95%;
			height: 93.5%;
			
			border: 1px solid rgba(255,255,255,0.40);
		}
	}
}

/* Rectangle 30: */

//Temp Stuff. 

.cta-image{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	background: url(../img/house-new.jpg) no-repeat right center;
	background-size: cover;
	img{margin: 0 auto; display: none;}
}
.border-bottom{
	border-bottom:1px solid rgba(0, 0, 0, 0.08); padding: 0 20px 20px; margin: 0 auto 020px; box-sizing: border-box;
}
.temp-form{
	max-width: 560px; padding: 0 20px; margin: 40px auto;
}

.temp-form address{font-style: normal; text-align: center; color: #737373; margin-bottom: 30px;
}
.temp-form address a{color: #737373; text-decoration: underline;}
.temp-form h2{color: #A1B566; text-align: center;}
.wufoo ul{padding: 0; font-size: 0; margin-left: 1%;}
.wufoo ul li{list-style: none; margin-bottom: 15px;}
.wufoo ul li span{ width: 49%; display: inline-block;}
.wufoo ul li span:nth-child(odd){margin: 0 0 0 2%;}
.wufoo label{display: none;}
.wufoo input[type='text'],
.wufoo input[type='email']{padding: 10px; display: block; background: #FFFFFF; border: 1px solid rgba(0,0,0,0.08); box-shadow: 0px 3px 0px 0px rgba(160,181,102,0.23); font-size: 16px;width: 100%;box-sizing: border-box;}
.wufoo textarea{ resize: none;
background: #FFFFFF;
border: 1px solid rgba(0,0,0,0.08);
box-shadow: 0px 3px 0px 0px rgba(160,181,102,0.23); font-size: 16px; padding: 10px; box-sizing: border-box; width: 100%;}
.wufoo input[type='submit']{

}
.wufoo .buttons div{


}
.wufoo input[type='submit']{
	background: #A1B566;
	border: none;
	padding: 15px 20px;

	font-family: LibreBaskerville-Regular;
	font-size: 11.92px;
	color: #FFFFFF;
	
	line-height: 15px;
	display: block;
	box-sizing: border-box;
	width: auto;
	margin: 0 auto;
}
.wufoo input[type='submit']:hover{
	background: $darkergreen;
}
.hide{display: none;}
.temp-logo{margin: 20px auto; width: 125px; display: block; opacity: .8;}

//Footer

footer{
	background: $brown;
	font-size: 0;
	margin: 20px 0 0;
	.column-one{width: 48%;display: inline-block;
		p{
		font-family: $libre;
		font-size: 13px;

		line-height: 17px;
		}
	}
	.column-two{width: 48%; margin-left: 4%; display: inline-block;
		nav{
			ul{text-align: right; padding: 0; margin: 0; 
				li{
					display: inline-block;
					&:nth-child(2){border-left: 1px solid #fff; margin: 0 0 0 5px; padding: 0 0 0 5px; }
					a{
						color: #fff;
						font-family: $libre;
						font-size: 13px;
						line-height: 17px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 960px) {
	header nav ul li a{
		padding: 30px 20px;
	}
}

@media only screen and (max-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
    header{ 
	    padding: 0 0 20px;
	    nav{ opacity: 0; visibility: hidden;float: none; position: absolute; background: $green;
			top: 95px;
			z-index: 1;
			width: 100%;
			left: 0;
			transition: all .25s ease-out .1s;
		    ul{padding: 0; 
			    li{display: block; width: 100%;
				    a{color: #fff;    padding: 10px 20px;
					    &:hover{
						    color: $brown;
					    }
				    }
			    }
		    }
	    }
	    nav.open{opacity: 1; visibility: visible; }
    .logo img{height: 50px;}
    .menu-button{display: block;}
    }
    
    .contact-us {
	    .form-wrapper.container { 
		    form{
			    width: auto; display: block; margin-bottom: 30px;
		    }
		    .contact-info{
			    width: auto; display: block; margin: 0;
		    }
	    }
    }
    article{width: auto; display: block; margin-bottom: 20px;} 
    aside{width: auto;display: block; max-width: 100%;}
    
    footer{
	    .column-one{width: auto;}
	    .column-two{width: auto;}
    }
    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
// JS BS
// RESPONSIVE TABS
.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block; 
        a{
	        color: #fff; font: normal 16px/16px "Libre Baskerville", Georgia, Times, "Times New Roman", serif;border-bottom: 1px solid #fff;  margin-bottom: 10px; padding-bottom: 10px; display: inline-block;
        }
    }
    
    .r-tabs-panel{
	    button, .btn.green{
		    margin-bottom: 10px; display: inline-block;
	    }
    }
    
}