//Colors
$green: #9FB664;
$gray: #737373;
$darkergreen: #79944D;

//Fonts

$amble: 'Amble', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$libre: 'Libre Baskerville', Georgia, Times, 'Times New Roman', serif;